<footer class="page-footer teal">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">What is tw33tyPy?</h5>
        <p class="grey-text text-lighten-4">tweetyPy is a project by Xristos Katsaros, dedicated to analyzing trending topics on Twitter using
          Natural Language Processing and other twitter statistics. This version is focused on a collection of 480,000+ tweets between
          December 1st, 2019 and February 4th, 2020.</p>


      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Other projects</h5>
        <ul>
          <li>Coming soon!</li>
        </ul>
      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Where to find me</h5>
        <ul>
          <li><a class="white-text" href="https://github.com/xxristoskk">Github</a></li>
          <li><a class="white-text" href="https://linkedin/in/xristos-katsaros">LinkedIn</a></li>
          <li><a class="white-text" href="https://twitter.com/OkXristos">Twitter</a></li>
          <li><a class="white-text" href="https://medium.com/@xristos.katsaros">Medium</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    Made using <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a>,
      <a class="orange-text text-lighten-3" href="https://www.djangoproject.com/">Django</a>,
      <a class="orange-text text-lighten-3" href="https://dash.plot.ly/">Dash</a>, and
      <a class="orange-text text-lighten-3" href="https://www.mongodb.com/">MongoDB</a>
    </div>
  </div>
</footer>
